/* обнуление */
*,*::before,*::after {
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}
html,body {
    background: rgb(255, 255, 255);
    font-family: 'Economica', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

/* начала меню header */

header {
    background-image: url(background_header.png);
    background-size: cover;
    padding-bottom: 70px;
}

.main__menu__conteiner {
    display:flex;
    justify-content: center;
}

.logo__border {
    display: flex;
    font-size: 2.2em;
    margin: 40px 0;
    overflow:visible;
}

.logo__company {
    color: #ee8129;
    text-transform: capitalize;
}

.logo__name {
    color: #3070a8;
    text-transform: uppercase;
    font-weight: 700;
}

.main__menu__list__border{
    margin: 20px 0 20px 150px;

}

.main__menu__list {
    display: flex;
    list-style: none;
    margin-top: 20px;
}

.main__menu__link {
    text-decoration: none;
    color: #989898;
    font-weight: 600;
}

.main__menu__cell {
    position: relative;
    padding:30px;
    text-transform: uppercase;
    font-size: 1.0em;
}

.main__menu__cell:hover {
    padding:30px 30px 60px 30px;
    border-bottom: 4px solid #3070a8;
    margin-bottom: -35px;
}

.main__menu__link:hover {
    color: #3070a8;

}

.main__menu__link:hover::after {
    content: '';
    position: fixed;
    top:153px;
    left:0;
    width: 100%;
    height: 500px;
    background: #0653b2;
    opacity: 0.8;
    z-index: 1;
}



.menu__list__content {
    display: flex;
    position: relative;
    flex-direction: column;
    margin:100px auto;
    width: 1000px;
    height: 400px;
    color: #fff;
    z-index: 999;
}

.menu__list__content .top {
    margin: 30px auto;
    text-align:center;
    font-size: 1.6em;
    margin-bottom: 5px;
    letter-spacing: 1px;

}

.menu__list__content .middle {
    text-transform: uppercase;
    text-align:center;
    width: 900px;
    font-size: 2.8em;
    font-weight: 700;
    line-height: 1.3;

}

.menu__list__content .bottom {
    margin:20px auto;
    width: 600px;
    font-style: italic;
    line-height: 1.7;
    text-align:center;
}

.menu__list__content button {
    margin: 25px auto;
    width: 250px;
    height: 50px;
    background: rgba(238, 129, 41, 0.6);
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

/* конец меню header */

/* начала цен */

.price__main__conteiner{ 
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 800px;
    margin-top: 150px;
    margin: 0 auto;
    padding-bottom: 500px;
    margin-top: 50px;

}

.price__conteiner__left {
    position: absolute;
    left: 4%;
    z-index: 1;
  
}

.price__conteiner__center {
    position: absolute;
    left: 273px;
    top: 128px;
    z-index: 5;

}

.price__conteiner__right {
    position: absolute;
    right: 4%;
    z-index: 2;
}

.price__header {
    color:#40525c;
    margin:50px 0 55px 0;
    text-transform: uppercase;
    font-size: 26px;
    
}
.price__conteiner__border {
    border-right: 1px solid #808080;
    border-left: 1px solid #808080;
    border-bottom: 1px solid #808080;
    border-radius: 0 0 5px 5px;
}

.price__conteiner__border__center {
    border:3px solid #ee8129;
    background: white;
    border-radius: 0 0 5px 5px;
    box-shadow: -2px 4px 2px 2px rgba(31, 76, 111, 0.09),
                 2px 4px 2px 2px rgba(31, 76, 111, 0.09);
}

.price__conteiner {
    display: flex;
    margin:0 auto;
}

[class*="price__conteiner_"] {
    width: 250px;
    
}

[class*="price__title_"] {
    color:#fff;
    font-size: 20px;
    font-weight:900;
    text-transform: uppercase;
    padding:10px 60px;
    text-align: center;
    border-radius:4px 4px 0 0;

    
}

.price__title__left {
    background:#2ac2d5;
}

.price__title__center {
    background:#ee8129;
    padding:15px 0;
    box-shadow: 0px -2px 1px 2px rgba(31, 76, 111, 0.09);
}

.price__title__right {
    background:#1cb79a;
}

[class*="price__title2"] {
    text-transform: uppercase;
    padding:10px 0 0 0;
    font-size: 20px;
    font-weight: 100;
}

[class*="price__cost"]{
    position: relative;
    color:#35495a;
    left:20px;
}

[class*="price__sup"] {
    position: absolute;
    font-size: 24px;
    left:44px;
    top:9px;

}

[class*="price__money"] {
    font-size: 65px;
}

[class*="price__month"] {
    font-weight: bold;
    text-transform: capitalize;
}

[class*="price__table"] {
    position: relative;
    display: inline-block;
    width: 213px;
    text-align: start;
    font-size: 14px;
    margin:10px 0;
}

[class*="price__cell"] {
    padding:4px;
    margin:1px;
    color:#7f8086;
    padding-inline-start: 50px;
}

[class*="price__cell"]::before { 
    content: url("../csslesson6/-.png");
    position: absolute;
    zoom: 5%;
    left: 400px;
    
}

/* таблица у цен */

[class*="price__table_"]{
    list-style: none;
}

[class*="price__table_"] li:nth-child(odd) { 
    background-color: #EDF5FD;
}
[class*="price__table_"] li:nth-child(even) {
    background-color: #F5F5F6;
}

[class*="price__button__"] {
    padding:12px 60px 9px 60px;
    margin:10px 0 20px 0;
    background: #2f70a8;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 3px solid #0e304e;
    transition-duration: 0.4s;
}

.price__button__center {
    background: #ee8129;
    border-bottom: 3px solid #693810;
    margin-bottom: 30px;
    margin-top: 10px;
}

.price__button__left:hover {
    background: #2ac2d5;
}

.price__button__center:hover {
    background:#ff7300;
}

.price__button__right:hover {
    background:#1cb79a;
}
